<div class="container">
  <div class='row'>
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h2 class="px-3 mx-auto">会員詳細</h2>

     <table border="1" width="600">
     <tr>
  	 <p>
  	 <th>氏名</th>
	 <th><%= @customer.last_name %><%= @customer.first_name %></th>
	 </p>
     </tr>
     <tr>
     <P>
  	 <th>カナ</th>
  	 <th><%= @customer.last_name_kana %><%= @customer.first_name_kana %></th>
     </P>
     </tr>
     <tr>
     <P>
	 <th>郵便番号</th>
	 <th><%= @customer.postal_code %></th>
     </P>
	 </tr>
	 <tr>
	 <P>
	 <th>住所</th>
	 <th><%= @customer.address %></th>
	 </P>
	 </tr>
	 <tr>
	 <P>
	 <th>電話番号</th>
	 <th><%= @customer.telephone_number %></th>
	 </P>
	 </tr>
	 <tr>
	 <P>
	 <th>メールアドレス</th>
	 <th><%= @customer.email %></th>
	 </P>
	 </tr>
	 <tr>
	 <th>会員ステータス</th>
	 <th><% if @customer.is_active? %>
            退会
           <% else %>
            有効
           <% end %>
     </th>
     </tr>
	 </table>
	 <%= link_to '編集する', addresses_path, class: "btn btn-info btn-sm" %>
	 </h5>
	 <h5>
	 <%= link_to '注文一覧を見る', orders_path, class: "btn btn-info btn-sm" %>
	 </h5>
	 </tr>
     </table>
  </div>
 </div>
</div>	