
<div class="container">
  <div class='row'>
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h2 class="px-3 mx-auto">注文情報入力</h2>
    <%= form_with model: @order, url:'/orders/confirm', local:true do |f| %>
    <p></p>
    <h4>支払い</h4>
    <%= f.radio_button :payment_method, "credit_card" %>
    <%= f.label :payment_method, "クレジットカード" %>
    
    <%= f.radio_button :payment_method, "transfer" %>
    <%= f.label :payment_method, "銀行振込" %>
    <p></p>
    <h4>お届け先</h4>
    <p></p>
　　<%= f.radio_button :address_option, 0 , checked: "checked" %>
    <%= f.label :address, "ご自身の住所" %>　
    <p></p>
    <p>登録住所済みから選択</p>
    <%= f.radio_button :address_option, 1 , checked: "checked" %>
    <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>
    <p></p>
    <p>新しいお届け先</p>
    <%= f.radio_button :address_option, 2 , checked: "checked" %>
    <p></p>
    <h6>郵便番号</h6>
    <%= f.text_field :postal_code %>
    <p></p>
    <h6>住所</h6>
    <%= f.text_field :address %>
    <p></p>
    <h6>宛名</h6>
    <%= f.text_field :name %>

    
    
    <%= f.submit '確認画面へ進む', class: "btn btn-success" %>

    <% end %>
    </div>
  </div>
</div>